In [9]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [10]:
df = pd.read_csv("data/combined.csv", low_memory=False)

In [ ]:
print(df.head())

In [13]:
print(df.dtypes, '\n')
print(df.describe(include='all').to_string(), '\n')
print(df.info(), '\n')
print(df.isnull().sum(), '\n')

ID                                         object
History of HeartDisease or Attack          object
High Blood Pressure                        object
Told High Cholesterol                      object
Cholesterol Checked                        object
Body Mass Index                           float64
Smoked 100+ Cigarettes                     object
Diagnosed Stroke                           object
Diagnosed Diabetes                         object
Leisure Physical Activity                  object
Heavy Alcohol Consumption                  object
Health Care Coverage                       object
Doctor Visit Cost Barrier                  object
General Health                             object
Difficulty Walking                         object
Sex                                        object
Education Level                            object
Income Level                               object
Age                                         int64
Vegetable or Fruit Intake (1+ per Day)     object
dtype: object

                  ID History of HeartDisease or Attack High Blood Pressure Told High Cholesterol Cholesterol Checked  Body Mass Index Smoked 100+ Cigarettes Diagnosed Stroke Diagnosed Diabetes Leisure Physical Activity Heavy Alcohol Consumption Health Care Coverage Doctor Visit Cost Barrier General Health Difficulty Walking     Sex   Education Level     Income Level            Age Vegetable or Fruit Intake (1+ per Day)
count         297445                            221390              297445                265259              297445    285663.000000                 297444           297445             297442                    297445                    297445               297445                    297444         297444             297442  297445            297445           297445  297445.000000                                 297445
unique        297445                                 2                   2                     2                   2              NaN                      2                2                  2                         2                         2                    2                         2              5                  2       2                 6                8            NaN                                      2
top     train_000001                                No                  No                    No                 Yes              NaN                     No               No                 No                       Yes                        No                  Yes                        No           Good                 No  Female  College graduate  $75,000 or more            NaN                                    Yes
freq               1                            203322              178703                153153              255389              NaN                 167341           286276             256980                    223168                    280325               277499                    268675         103623             249610  167744            119810           100316            NaN                                 260419
mean             NaN                               NaN                 NaN                   NaN                 NaN        28.245157                    NaN              NaN                NaN                       NaN                       NaN                  NaN                       NaN            NaN                NaN     NaN               NaN              NaN      55.485313                                    NaN
std              NaN                               NaN                 NaN                   NaN                 NaN         6.665820                    NaN              NaN                NaN                       NaN                       NaN                  NaN                       NaN            NaN                NaN     NaN               NaN              NaN      17.516183                                    NaN
min              NaN                               NaN                 NaN                   NaN                 NaN        11.210000                    NaN              NaN                NaN                       NaN                       NaN                  NaN                       NaN            NaN                NaN     NaN               NaN              NaN      18.000000                                    NaN
25%              NaN                               NaN                 NaN                   NaN                 NaN        23.930000                    NaN              NaN                NaN                       NaN                       NaN                  NaN                       NaN            NaN                NaN     NaN               NaN              NaN      43.000000                                    NaN
50%              NaN                               NaN                 NaN                   NaN                 NaN        27.130000                    NaN              NaN                NaN                       NaN                       NaN                  NaN                       NaN            NaN                NaN     NaN               NaN              NaN      57.000000                                    NaN
75%              NaN                               NaN                 NaN                   NaN                 NaN        31.160000                    NaN              NaN                NaN                       NaN                       NaN                  NaN                       NaN            NaN                NaN     NaN               NaN              NaN      67.000000                                    NaN
max              NaN                               NaN                 NaN                   NaN                 NaN        98.630000                    NaN              NaN                NaN                       NaN                       NaN                  NaN                       NaN            NaN                NaN     NaN               NaN              NaN     100.000000                                    NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297445 entries, 0 to 297444
Data columns (total 20 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   ID                                      297445 non-null  object
 1   History of HeartDisease or Attack       221390 non-null  object
 2   High Blood Pressure                     297445 non-null  object
 3   Told High Cholesterol                   265259 non-null  object
 4   Cholesterol Checked                     297445 non-null  object
 5   Body Mass Index                         285663 non-null  float64
 6   Smoked 100+ Cigarettes                  297444 non-null  object
 7   Diagnosed Stroke                        297445 non-null  object
 8   Diagnosed Diabetes                      297442 non-null  object
 9   Leisure Physical Activity               297445 non-null  object
 10  Heavy Alcohol Consumption               297445 non-null  object
 11  Health Care Coverage                    297445 non-null  object
 12  Doctor Visit Cost Barrier               297444 non-null  object
 13  General Health                          297444 non-null  object
 14  Difficulty Walking                      297442 non-null  object
 15  Sex                                     297445 non-null  object
 16  Education Level                         297445 non-null  object
 17  Income Level                            297445 non-null  object
 18  Age                                     297445 non-null  int64
 19  Vegetable or Fruit Intake (1+ per Day)  297445 non-null  object
dtypes: float64(1), int64(1), object(18)
memory usage: 45.4+ MB
None

ID                                            0
History of HeartDisease or Attack         76055
High Blood Pressure                           0
Told High Cholesterol                     32186
Cholesterol Checked                           0
Body Mass Index                           11782
Smoked 100+ Cigarettes                        1
Diagnosed Stroke                              0
Diagnosed Diabetes                            3
Leisure Physical Activity                     0
Heavy Alcohol Consumption                     0
Health Care Coverage                          0
Doctor Visit Cost Barrier                     1
General Health                                1
Difficulty Walking                            3
Sex                                           0
Education Level                               0
Income Level                                  0
Age                                           0
Vegetable or Fruit Intake (1+ per Day)        0
dtype: int64

In [ ]:
df_copy = df.copy()
df_copy.fillna({
    'High Blood Pressure': df['High Blood Pressure'].mode()[0],
    'Total Hi'
}, inplace=True)